
@using PagedList.Mvc
@using PagedList;
@model StaticPagedList<QuestionsViewModel>
@{
    string view = "_AllFAQs";
}
@using (Ajax.BeginForm("DisplayTabs",
        new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "allQuestionsPane"
        }))
{
    <input type="hidden" name="view" value="@view" />
    <input type="hidden" name="pageNumber" value="@ViewBag.PageNumber" />
    @Html.Partial("~/Plugins/FAQPlugin/Views/_PageSize.cshtml")

}


@using (Ajax.BeginForm("DeleteFAQ", "FAQAdmin", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "allQuestionsPane",
    OnSuccess = "Deleted",

}, new { id = "deleteForm" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="deleteId" />
    <input type="hidden" name="pageSize" value="@ViewBag.PageSize" />
    <input type="hidden" name="pageNumber" value="@ViewBag.PageNumber" />
    <input type="hidden" name="view" value="@view" />
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var allQuestions in Model)
        {
            <tr>
                <td><b><a target="_blank" href="@Url.Action("EditProduct", "Product", new { ProductId = allQuestions.ProductId })">@allQuestions.ProductName</a></b></td>
                <td>@allQuestions.Question</td>
                <td>
                    @if (string.IsNullOrEmpty(allQuestions.Answer))
                    {
                        <a class="text-danger">
                            <i>
                            Pending

                            </i>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="answer-link-fromAll" data-toggle="modal" data-questionall="@allQuestions.Question" data-answerall="@allQuestions.Answer" data-idall="@allQuestions.FAQId" data-target="#editAnswerModalFromAll">
                            @allQuestions.Answer
                        </a>
                    }
                </td>
                <td>
                    <button type="button"
                            class="btn btn-xs btn-danger btn-uninstall"
                            data-id="@allQuestions.FAQId"
                            data-question="@allQuestions.Question">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--Update modal-->
<div class="modal inmodal" id="editAnswerModalFromAll" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Update Answer</h4>
                <p>.</p>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UpdateAnswer",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "allQuestionsPane",
                    OnSuccess = "AnswerUpdated"
                }))
                {
                    <label class="col-form-label"><h3><b id="modal-question-all">Question : </b></h3></label>
                    <div class="form-group">
                        <label for="answerText" class="col-form-label" id="modal-answer-all">Answer:</label>
                        <textarea required class="form-control" name="answer" id="answerText" rows="5"></textarea>
                        <input type="number" hidden name="id" id="modal-question-id-all">
                        <input name="view" value="@view" hidden />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" onclick="$('#editAnswerModalFromAll').modal('hide');" class="btn btn-primary">Update</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="pagination-wrapper">
    @Html.PagedListPager(Model,
    page => Url.Action("DisplayTabs",
    new { view = view, pageNumber = page, pageSize = ViewBag.pageSize }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "allQuestionsPane" }))
</div>

