
@using PagedList.Mvc
@using PagedList;
@model StaticPagedList<QuestionsViewModel>
@{
    string view = "_AnsweredFAQs";

}
@using (Ajax.BeginForm("DisplayTabs",
        new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "answeredQuestionsPane"
        }))
{
    <input type="hidden" name="view" value="@view" />
    <input type="hidden" name="pageNumber" value="@ViewBag.PageNumber" />
    @Html.Partial("~/Plugins/FAQPlugin/Views/_PageSize.cshtml")

}
@using (Ajax.BeginForm("DeleteFAQ", "FAQAdmin", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "answeredQuestionsPane",
    OnSuccess = "Deleted",

}, new { id = "deleteFormInAnswered" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="deleteIdInAnswered" />
    <input type="hidden" name="pageSize" value="@ViewBag.PageSize" />
    <input type="hidden" name="pageNumber" value="@ViewBag.PageNumber" />
    <input type="hidden" name="view" value="@view" />
}
<div class="custom-table">
    <div class="row">
        <div class="col-md-6">
            <b>Question</b>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <b>Product</b>
                   
                </div>
                <div class="col-md-4">
                    <b>Last Modified</b>
                  
                </div>
                <div class="col-md-4">
                    
                    <b>Actions</b>
                </div>
            </div>
        </div>
    </div>
    <!--To Be Looped Ovwe-->
    @foreach (var faq in Model)
    {
        <div class="row">
            <div class="col-md-6">
                <a class="question-link cursor-pointer text-dark" style="color:black;margin-top:10px;" data-toggle="collapse" data-target="#answer-@faq.FAQId" aria-expanded="false" onclick="toggleChevron(@faq.FAQId)">
                    @faq.Question
                    <i id="chevron-@faq.FAQId" class="fa fa-chevron-down float-right"></i>
                </a>
                <div style="padding-top:20px;" id="answer-@faq.FAQId" class="collapse mt-2">
                    <a href="#" class="answer-link mt-" data-toggle="modal" data-questionupdate="@faq.Question" data-answerupdate="@faq.Answer" data-idupdate="@faq.FAQId" data-target="#editAnswerModal">
                        @faq.Answer
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <a target="_blank" href="@Url.Action("EditProduct", "Product", new { ProductId = faq.ProductId })">@faq.ProductName</a>
                    </div>
                    <div class="col-md-4">
                        @faq.LastModified
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group" role="group">
                            <!-- Edit Button -->
                            <button class="btn btn-success btn-sm" data-toggle="modal" data-questionupdate="@faq.Question" data-answerupdate="@faq.Answer" data-idupdate="@faq.FAQId" data-target="#editAnswerModal">
                                <i class="fa-regular fa fa-pencil"></i>
                            </button>

                            <!-- Toggle Visibility Button -->
                            <button type="button" class="btn btn-sm btn-primary" onclick="submitVisibilityForm('@faq.FAQId', '@faq.Visibility')">
                                <i class="fa @(faq.Visibility ? "fa-eye" : "fa-eye-slash")"></i>
                            </button>

                            <button type="button"
                                    class="btn btn-danger btn-sm btn-uninstall"
                                    data-id="@faq.FAQId"
                                    data-question="@faq.Question"
                                    data-view="@view">
                                <i class="fa fa-trash"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        using (Ajax.BeginForm("ChangeVisibility", "FAQAdmin", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "answeredQuestionsPane" }, new { id = "visibilityForm-" + faq.FAQId }))
        {
            <input type="hidden" name="id" value="@faq.FAQId" />
            <input type="hidden" name="visibility" id="visibilityInput-@faq.FAQId" value="@faq.Visibility" />
            <input type="hidden" name="view" value="@view" />
            <input type="hidden" name="pageSize" value="@ViewBag.PageSize" />
            <input type="hidden" name="pageNumber" value="@ViewBag.PageNumber" />
        }
    }

</div>


<!--Update Modal-->
<div class="modal inmodal" id="editAnswerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Update Answer</h4>
                <p>.</p>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UpdateAnswer",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "answeredQuestionsPane",
                    OnSuccess = "AnswerUpdated"
                }))
                {
                    <label class="col-form-label"><h3><b id="modal-question-update">Question : </b></h3></label>
                    <div class="form-group">
                        <label for="answerText" class="col-form-label" id="modal-answer-update">Answer:</label>
                        <textarea required class="form-control" name="answer" maxlength="254" id="answerText" rows="5"></textarea>
                        <input type="hidden" name="pageSize" value="@ViewBag.PageSize" />
                        <input type="hidden" name="pageNumber" value="@ViewBag.PageNumber" />
                        <input type="number" hidden name="id" id="modal-question-id-update">
                        <input name="view" value="@view" hidden />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" onclick="$('#editAnswerModal').modal('hide');" class="btn btn-primary">Update</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="pagination-wrapper">
    @Html.PagedListPager(Model,
    page => Url.Action("DisplayTabs",
    new { view = view, pageNumber = page, pageSize = ViewBag.pageSize }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "answeredQuestionsPane" }))
</div>

