
@using PagedList.Mvc
@using PagedList;
@model StaticPagedList<QuestionsViewModel>
@{ 
    string view = "_AnsweredFAQs";

}
@using (Ajax.BeginForm("DisplayTabs",
        new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "answeredQuestionsPane"
        }))
{
    <input type="hidden" name="view" value="@view"  />
    <input type="hidden" name="pageNumber" value="@ViewBag.PageNumber"  />
    @Html.Partial("~/Plugins/FAQPlugin/Views/_PageSize.cshtml")

}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Visibility</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var faq in Model)
        {
            <tr>
                <td><b><a target="_blank" href="@Url.Action("EditProduct", "Product", new { ProductId = faq.ProductId })">@faq.ProductName</a></b></td>
                <td>@faq.Question</td>
                <td>
                    <a href="#" class="answer-link" data-toggle="modal" data-questionupdate="@faq.Question" data-answerupdate="@faq.Answer" data-idupdate="@faq.FAQId" data-target="#editAnswerModal">
                        @faq.Answer
                    </a>
                </td>
                <td class="text-center">
                    @using (Ajax.BeginForm("ChangeVisibility", "FAQAdmin", new { id = faq.FAQId, visibility = !faq.Visibility }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "faq-list", OnSuccess = $"toggleIcon('iconid-{faq.FAQId}')" }))
                    {
                        <button type="submit" class="btn btn-link">
                            <i id="iconid-@faq.FAQId" class="fa @(faq.Visibility ? "fa-eye" : "fa-eye-slash")"></i>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Update Modal-->
<div class="modal inmodal" id="editAnswerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Update Answer</h4>
                <p>.</p>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UpdateAnswer",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "answeredQuestionsPane",
                    OnSuccess = "AnswerUpdated"
                }))
                {
                    <label class="col-form-label"><h3><b id="modal-question-update">Question : </b></h3></label>
                    <div class="form-group">
                        <label for="answerText" class="col-form-label" id="modal-answer-update">Answer:</label>
                        <textarea required class="form-control" name="answer" id="answerText" rows="5"></textarea>
                        <input type="hidden" name="pageSize" value="@ViewBag.PageSize" />
                        <input type="hidden" name="pageNumber" value="@ViewBag.PageNumber" />
                        <input type="number" hidden name="id" id="modal-question-id-update">
                        <input name="view" value="@view" hidden />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" onclick="$('#editAnswerModal').modal('hide');" class="btn btn-primary">Update</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="pagination-wrapper">
    @Html.PagedListPager(Model,
    page => Url.Action("DisplayTabs",
    new {view=view, pageNumber = page, pageSize = ViewBag.pageSize }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "answeredQuestionsPane" }))
</div>

