<div id="faq-widget-container">
    @model RetailViewModel
    @using PagedList.Mvc
    @{
        RequireScript(Url.Content("~/Plugins/FAQPlugin/Content/index.js"));
    }
    @{
        int prodId = Model.AskQuestionModel.ProductId;


    }
    <link rel="stylesheet" href="~/Plugins/FAQPlugin/Content/styles.css" />
    @*<div class="flex justify-space-around align-center">
        <div id="success-message" class="alert alert-success text-center">Question submitted successfully!</div>

    </div>*@

    <div id="parent-container" class="cursor-pointer breadcrumb-wrapper mt-3">
        <div class="">
            <div id="successMessage" class="success-message text-center">
                <h4>
                    Your question has been received and is currently under review. We'll provide an answer as soon as possible.
                </h4>
            </div>
        </div>
        <div class="header-container">
            <div class="col-md-10">
                <h3 class="my-0 ml-3" data-toggle="collapse" href="#tab-con">
                    @if(Model.PagedList.Count == 0)
                   {
                   <p>Be The First One To Ask A Question About This Product</p>
                   }
                   else
                   {
                   <p>Questions About This Product</p>
                   }
                </h3>
            </div>
            <div class="col-md-2">
             @if (Model.CurrentSettings.AllowAnonymousUsers)
            {
           <button type="button" class="btn btn-primary my-0 mr-3" data-toggle="modal" data-target="#askQuestionModal">Ask a Question</button>
           }
            else
            {
                <a href="Login">Login To Ask A Question</a>
            }
            </div>
        </div>
        <div class="parent-container">
            @foreach (var faq in Model.PagedList)
            {
                <div class="" id="ua">
                    <div class="question mx-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex align-items-start justify-content-between">
                                    <h4><b>Q: <span class="questions-colored">@faq.Question </span> </b></h4>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <i >Asked by : @faq.AskedBy</i>
                            </div>
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-2">
                                <i class="text-dark"><b>@faq.AskedAt </b> </i>
                            </div>
                        </div>

                    </div>
                    <div class="answer mx-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex align-items-start justify-content-between">
                                    <h5><b>A:</b>@faq.Answer</h5>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <i > <b>Answered by: @faq.Responder </b> </i>
                            </div>
                        </div>
                    </div>
                  <hr />
                </div>
            }
        </div>
    </div>
    <div class="pagination-wrapper">
        @Html.PagedListPager(Model.PagedList,
        page => Url.Action("FAQWidget",
        new { page = page, size = 5 ,productId = ViewBag.ProductId }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "faq-widget-container" }))
    </div>


    @Html.Partial("~/Plugins/FAQPlugin/Views/_AskQuestion.cshtml", Model.AskQuestionModel)


</div>
